.tituloSecao h2{
    position: absolute;
    top: 30px;
    left: 30vw;
    color: white;
}
.tituloSecao img{
    width: 20px;
    position: absolute;
    top: 15px;
    left: 67.5vw;
    cursor: pointer;
}
.formCadastro{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    top: 21vh;
    left: 15vw;
    width: 70vw;
    min-height: 110vh;
    background-color: rgb(195, 209, 235);
    border-radius: 10px;
    visibility: hidden;
}
.formCadastro h2{
    color: cornflowerblue;
    font-weight: bolder;
    font-size: 1.5rem;
    margin: 20px 0 10px 0;
    text-align: center;
}
.foto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: 200px;
    background-color: rgb(154, 183, 236);
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgb(209, 198, 198);
    margin: 10px 10px 10px 30px;
}
.foto h3{
    font-size: 0.8rem;
    color: rgb(11, 32, 71);
    margin: 5px;
}
.cadPrimeiraSecao{
    width: 50vw;
    border: 1px solid lightgrey;
    min-height: 100vh;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgb(133, 123, 123);
    background-color: rgb(154, 183, 236);
}
input{
    width: 45vw;
    height: 40px;
    margin: 20px 0 5px 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgb(153, 140, 140);
    color: rgb(46, 111, 231);
    outline: 0;
    padding-left: 15px;
}
input[type=radio]{
    width: 15px;
    box-shadow: none;
    margin: 2px 5px 0 10px;
}
.sexoRadioButton{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 5px;
    width: 20vw;
    margin-top: 10px;
    margin-left: 20px;
}
.sexoRadioButton h3{
    color: rgb(57, 102, 187);
}
fieldset{
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
legend{
    color:rgb(23, 75, 170);
    font-weight: bolder;
    margin-left: 20px;
}
select{
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgb(153, 140, 140);
    width: 40%;
    height: 40px;
    margin: 10px 0 10px 20px;
    color:rgb(23, 75, 170);
    outline: 0;
}
.caixaBotoes{
    margin-left: 40px;
    margin-bottom: 20px;
}
button{
    width: 120px;
    height: 40px;
    background-color:rgb(16, 146, 140);
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgb(80, 70, 70);
    color: white;
    margin-right: 5px;
}
