*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}
.containerGeral{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(7, 7, 51, 0.781);
}
.containerImagem, .containerLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 35vw;
    height: 80vh;
    background-color: white;
    border: 1px solid rgb(143, 201, 240);
}
.containerImagem{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: rgba(133, 199, 243, 0.685);
}
.containerImagem img{
    max-width: 350px;
    width: 100%;
}
.containerLogin{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.containerLogin h4, ::placeholder{
    color: cornflowerblue;
}
.containerLogin h4{
    margin-bottom: 15px;
}
.containerLogin input{
    width: 75%;
    height: 40px;
    border: 1px solid rgb(178, 200, 240);
    border-radius: 5px;
    margin: 10px;
    padding-left: 10px;
    outline: 0;
    box-shadow: 2px 2px 4px lightgrey;
    font-size: 16px;
    color: cornflowerblue;
}
.containerLogin img{
    margin-bottom: 10px;
}
.botoesLogin{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 70%;
    height: 40px;
    margin-top: 15px;
}
.botoesLogin button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(55, 120, 241);
    box-shadow: 2px 2px 4px grey;
    color: white;
    outline: 0;
}
.botoesLogin button:hover{
    background-color: rgb(23, 89, 212);
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s;
}
.botoesLogin button:active{
    transform: scale(0.9);
}
.containerLogin h6, .containerLogin a{
    margin: 20px 0;
    font-size: 10px;
    color:rgb(55, 120, 241)
}