@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerLoader{
    width: 100vw;
    height: 100vh;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.loader{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 15px solid white;
    border-top: 15px solid rgb(33, 31, 167);
    animation-name: spinner;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
