*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    text-decoration: none;
}
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 20vh;
    border: 1px solid lightgrey;
    box-shadow: 4px 4px 12px grey;
}
.logoMarca{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 18vh;
    padding: 5px;
    margin: 5px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 85vw;
    height: 30px;
}
.menu a{
    padding: 10px;
    border-radius: 5px;
    color: cornflowerblue;
    font-size: 14px;
}
.menu a:hover{
    cursor: pointer;
    background-color: cornflowerblue;
    color: white;
}
.paginaPrincipal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    background-color: rgba(31, 79, 168, 0.726);
}
.imc{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 21vh;
    left: 40vw;
    width: 300px;
    height: 420px;
    background-color: white;
    border-radius: 10px;
    visibility: hidden;
}
#caixaIMC{
    visibility: hidden;
}
.btnTitulo{
    width: 120px;
    border: none;
    border-radius: 20px;
    background-color: rgb(199, 213, 238);
    color:rgba(31, 79, 168, 0.726);
    font-weight: bolder;
    padding: 5px;
    margin-top: 10px;
    height: 40px;
}
.btnCalcular{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: cornflowerblue;
    color: white;
}
.btnCalcular:active{
    transform: scale(0.9);
}
.imc input{
    width: 250px;
    height: 45px;
    margin: 10px;
    padding: 5px; 
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 3px 3px 9px lightgrey;
    color: rgba(31, 79, 168, 0.726);
    outline: 0;
    text-align: center;
}
.imc input:focus{
    transform: scale(1.05);
}
::placeholder{
    font-size: 0.9rem;
}
.botoesControle button{
    box-shadow: 3px 3px 6px grey;
    border-radius: 10px;
    margin-right: 1vw;
    margin-bottom: 15px;
}
.botoesControle button:hover{
    background-color: cornflowerblue;
    cursor: pointer;
    transform: scale(1.05);
}
.botoesControle button:active{
    cursor: pointer;
    transform: scale(0.9);
}
.rcq{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 21vh;
    left: 40vw;
    width: 330px;
    min-height: 450px;
    background-color: white;
    border-radius: 10px;
    visibility: hidden;
}
#caixaRCQ{
    visibility: hidden;
}
.rcq input{
    width: 250px;
    height: 45px;
    margin: 10px;
    padding: 5px; 
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 3px 3px 9px lightgrey;
    outline: 0;
    text-align: center;
}
.sexo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    color: cornflowerblue;
    font-size: 14px;
    padding: 5px;
    margin-top: 10px;
}
.sexo input[type=radio]{
    width: 12px;
    box-shadow: none;
}