html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.container_capa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    border: 1px solid lightgrey;
    background-color: rgb(15, 160, 185);
}
.container_capa h1{
    font-size: 5rem;
    color: white;
    text-shadow: 3px 2px 1px black;
}
.container_capa h2{
    font-size: 2rem;
    color: white;
    text-shadow: 2px 1px 1px black;
}
nav{
    position: absolute;
    top: 5vh;
    left: 50vw;
}
nav a{
    margin-right: 4vw;
    color: white;
    padding: 10px;
}
nav a:hover{
    cursor: pointer;
    background-color: white;
    color:rgb(15, 160, 185);
}
.container_imc{
    width: 40vw;
    height: 90vh;
    background-color: rgb(13, 13, 14);
    border: 1px solid grey;
    border-radius: 10px;
    margin: 5vh auto;
}
.container_imc h3{
    color: white;
    display: block;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 2vh; 
}
.caixa_imc{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 70vh;
    border: 1px solid white;
    margin: 1vh auto;
    padding: 10px;
}
.caixa_imc h4{
    color: white;
    margin: 10px auto;
}
#imc{
    color: darkred;
    font-size: 3.5rem;
    height: 15vh;
    text-align: center;
}
.caixa_imc input{
    font-size: 1.5rem;
    width: 20vw;
    height: 6vh;
    margin: 2vh auto;
    outline: 0;
    text-align: center;
}
#resultado{
    font-size: 1.2rem;
    color: white;
    width: 25vw;
    height: 7vh;
    margin: auto;
    padding: 5px;
    text-align: center;
}
button{
    background-color: orangered;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
    color: white;
    width: 20vw;
    height: 7vh;
    margin: 1vh auto;
}